@import url("/public/index.css");

/* Pagination */
div.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: var(--color-red);
}

/* Boutons */
div.pagination > button {
    display: flex;
    align-items: center;
    height: 30px;
    border: none;
    background: none;
}

div.pagination > button > * {
    font-size: 11px;
    color: var(--color-white);
}

div.pagination > button > p {
    margin: 0 8px;
    font-family: 'Niramit', sans-serif;
    font-weight: 400;
}

/* Numéro de page */
div.pagination > p {
    margin: 0 15px;
    font-family: 'Niramit', sans-serif;
    font-weight: bold;
    font-size: 12px;
    color: var(--color-white);
}

/* Media queries - Tablet */
@media (min-width: 426px) and (max-width: 768px) {
    /* Boutons */
    div.pagination > button {
        height: 35px;
    }

    div.pagination > button > * {
        font-size: 12px;
    }

    div.pagination > button:first-child {
        margin-right: 10px;
    }

    div.pagination > button:last-child {
        margin-left: 10px;
    }

    /* Numéro de page */
    div.pagination > p {
        font-size: 13px;
    }
}

/* Media queries - Laptop */
@media (min-width: 769px) and (max-width: 1024px) {
    /* Boutons */
    div.pagination > button {
        height: 40px;
    }

    div.pagination > button > * {
        font-size: 13px;
    }

    div.pagination > button:first-child {
        margin-right: 10px;
    }

    div.pagination > button:last-child {
        margin-left: 10px;
    }

    /* Numéro de page */
    div.pagination > p {
        font-size: 14px;
    }
}

/* Media queries - Laptop L */
@media (min-width: 1025px) {
    /* Boutons */
    div.pagination > button {
        height: 45px;
    }

    div.pagination > button > * {
        font-size: 14px;
    }

    div.pagination > button:first-child {
        margin-right: 15px;
    }

    div.pagination > button:last-child {
        margin-left: 15px;
    }

    /* Numéro de page */
    div.pagination > p {
        font-size: 15px;
    }
}