@import url("public/index.css");

/* Menu */
div.menu {
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color: var(--color-light-grey-E);
}

div.menu > p {
    margin: 0 0 0 25px;
    font-family: 'Niramit', sans-serif;
    font-weight: 400;
    font-size: 10px;
}

div.menu > p > a {
    color: var(--color-dark-grey);
    text-decoration: none;
    transition: text-decoration 0.3s;
}

div.menu > p > a:hover {
    text-decoration: underline var(--color-red);
    text-decoration-thickness: 2px;
    text-underline-offset: 4px;
}
