@import url("/public/index.css");

/* Détails de l'offre */
div.offreDetails {
    display: flex;
    flex-direction: column;
    width: calc(100% - 50px);
}

/* Premier bloc */
div.offreDetails > div:first-child {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 15px;
    padding: 0 25px;
    position: relative;
    background-color: var(--color-white);
}

div.offreDetails_entreprise {
    display: flex;
    align-items: center;
}

div.offreDetails_entreprise > img {
    width: 80px;
    height: 80px;
}

div.offreDetails_entreprise > p {
    margin: 0 0 0 15px;
    font-family: 'Niramit', sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: var(--color-dark-grey);
}

div.offreDetails > div:first-child > h1 {
    margin: 10px 0;
    font-family: 'Palanquin Dark', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: var(--color-black);
}

div.offreDetails_informations {
    display: flex;
    flex-wrap: wrap;
}

div.offreDetails_informations > p {
    margin: 0 6px 5px 0;
    padding: 3px 7px;
    border: 1px solid var(--color-black);
    border-radius: 15px;
    font-family: 'Niramit', sans-serif;
    font-weight: 400;
    font-size: 9px;
    color: var(--color-dark-grey);
    background-color: var(--color-light-grey-E);
}

/* Boutons */
div.offreDetails_buttons {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

div.offreDetails_buttons > button {
    padding: 3px 7px;
    border: none;
    border-radius: 15px;
    font-family: 'Niramit', sans-serif;
    font-weight: 400;
    font-size: 9px;
    color: var(--color-white);
    background-color: var(--color-red);
}

/* Deuxième bloc */
div.offreDetails > div:last-child {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 15px;
    padding: 0 25px 10px 25px;
    background-color: var(--color-light-grey-E);
}

div.offreDetails > div:last-child > h2 {
    margin: 7px 0;
    font-family: 'Palanquin Dark', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: var(--color-black);
}

div.offreDetails > div:last-child > p {
    margin: 0;
    text-align: justify;
    line-height: 18px;
    font-family: 'Niramit', sans-serif;
    font-weight: 400;
    font-size: 10px;
    color: var(--color-light-grey-B);
}

div.offreDetails_competences {
    display: flex;
    flex-wrap: wrap;
}

div.offreDetails_competences > p {
    margin: 0 6px 5px 0;
    padding: 3px 7px;
    border: 1px solid var(--color-black);
    border-radius: 15px;
    font-family: 'Niramit', sans-serif;
    font-weight: 400;
    font-size: 9px;
    color: var(--color-dark-grey);
    background-color: var(--color-white);
}

/* Media queries - Tablet */
@media (min-width: 426px) and (max-width: 768px) {
    div.offreDetails_entreprise > img {
        width: 90px;
        height: 90px;
    }

    div.offreDetails_entreprise > p {
        margin: 0 0 0 15px;
        font-size: 14px;
    }

    div.offreDetails > div:first-child > h1 {
        margin: 10px 0;
        font-size: 18px;
    }

    div.offreDetails_informations > p {
        margin: 0 6px 5px 0;
        font-size: 10px;
    }

    /* Boutons */
    div.offreDetails_buttons > button {
        padding: 3px 7px;
        font-size: 10px;
    }

    /* Deuxième bloc */
    div.offreDetails > div:last-child {
        margin-top: 15px;
        padding: 0 25px 10px 25px;
    }

    div.offreDetails > div:last-child > h2 {
        margin: 7px 0;
        font-size: 16px;
    }

    div.offreDetails > div:last-child > p {
        line-height: 18px;
        font-size: 11px;
    }

    div.offreDetails_competences > p {
        margin: 0 6px 5px 0;
        padding: 3px 7px;
        font-size: 10px;
    }
}

/* Media queries - Laptop */
@media (min-width: 769px) and (max-width: 1024px) {
    /* Détails de l'offre */
    div.offreDetails {
        width: calc(100% - 80px);
    }

    /* Premier bloc */
    div.offreDetails > div:first-child {
        padding: 0 40px;
    }

    div.offreDetails_entreprise > img {
        width: 95px;
        height: 95px;
    }

    div.offreDetails_entreprise > p {
        margin: 0 0 0 15px;
        font-size: 16px;
    }

    div.offreDetails > div:first-child > h1 {
        margin: 10px 0;
        font-size: 19px;
    }

    div.offreDetails_informations > p {
        margin: 0 6px 5px 0;
        font-size: 12px;
    }

    /* Boutons */
    div.offreDetails_buttons > button {
        padding: 5px 9px;
        font-size: 12px;
    }

    /* Deuxième bloc */
    div.offreDetails > div:last-child {
        margin-top: 15px;
        padding: 0 40px 10px 40px;
    }

    div.offreDetails > div:last-child > h2 {
        margin: 7px 0;
        font-size: 18px;
    }

    div.offreDetails > div:last-child > p {
        line-height: 18px;
        font-size: 12px;
    }

    div.offreDetails_competences > p {
        margin: 0 6px 5px 0;
        padding: 3px 7px;
        font-size: 12px;
    }
}

/* Media queries - Laptop L */
@media (min-width: 1025px) {
    /* Détails de l'offre */
    div.offreDetails {
        width: calc(100% - 90px);
    }

    /* Premier bloc */
    div.offreDetails > div:first-child {
        padding: 0 45px;
    }

    div.offreDetails_entreprise > img {
        width: 100px;
        height: 100px;
    }

    div.offreDetails_entreprise > p {
        margin: 0 0 0 15px;
        font-size: 17px;
    }

    div.offreDetails > div:first-child > h1 {
        margin: 10px 0;
        font-size: 20px;
    }

    div.offreDetails_informations > p {
        margin: 0 6px 5px 0;
        font-size: 14px;
    }

    /* Boutons */
    div.offreDetails_buttons > button {
        padding: 5px 9px;
        font-size: 14px;
    }

    /* Deuxième bloc */
    div.offreDetails > div:last-child {
        margin-top: 15px;
        padding: 0 45px 10px 45px;
    }

    div.offreDetails > div:last-child > h2 {
        margin: 7px 0;
        font-size: 20px;
    }

    div.offreDetails > div:last-child > p {
        line-height: 18px;
        font-size: 14px;
    }

    div.offreDetails_competences > p {
        margin: 0 6px 5px 0;
        padding: 3px 7px;
        font-size: 14px;
    }
}
