@import url("/public/index.css");

/* Filtre des entreprises */
form.filtreEntreprise {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 15px 0;
}

/* Input du formulaire */
form.filtreEntreprise > div {
    display: flex;
    align-items: center;
    width: 200px;
    border-radius: 8px;
    background-color: var(--color-light-grey-E);
}

div.filtreEntreprise_input {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 95%;
}

div.filtreEntreprise_input > :first-child {
    margin: 0 10px;
    font-size: 10px;
    color: var(--color-dark-grey);
}

div.filtreEntreprise_input > input {
    width: 100%;
    height: 100%;
    font-family: 'Niramit', sans-serif;
    font-weight: 400;
    font-size: 10px;
    color: var(--color-dark-grey);
    border: none;
    background-color: var(--color-light-grey-E);
}

/* Boutons du formulaire */
div.filtreEntreprise_buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

div.filtreEntreprise_buttons > button {
    margin: 5px 5px 5px 2px;
    border: none;
    border-radius: 5px;
    font-family: 'Niramit', sans-serif;
    font-weight: 400;
    font-size: 10px;
    cursor: pointer;
    color: var(--color-white);
    background-color: var(--color-red);
}

/* Media queries - Tablet */
@media (min-width: 426px) and (max-width: 768px) {
    /* Input du formulaire */
    form.filtreEntreprise > div {
        width: 250px;
    }

    div.filtreEntreprise_input > :first-child {
        font-size: 12px;
    }

    div.filtreEntreprise_input > input {
        font-size: 12px;
    }

    /* Boutons du formulaire */
    div.filtreEntreprise_buttons > button {
        font-size: 12px;
    }
}

/* Media queries - Laptop */
@media (min-width: 769px) and (max-width: 1024px) {
    /* Input du formulaire */
    form.filtreEntreprise > div {
        width: 300px;
    }

    div.filtreEntreprise_input > :first-child {
        font-size: 13px;
    }

    div.filtreEntreprise_input > input {
        font-size: 13px;
    }

    /* Boutons du formulaire */
    div.filtreEntreprise_buttons > button {
        font-size: 13px;
    }
}

/* Media queries - Laptop L */
@media (min-width: 1025px) {
    /* Input du formulaire */
    form.filtreEntreprise > div {
        width: 350px;
    }

    div.filtreEntreprise_input > :first-child {
        font-size: 14px;
    }

    div.filtreEntreprise_input > input {
        font-size: 14px;
    }

    /* Boutons du formulaire */
    div.filtreEntreprise_buttons > button {
        font-size: 14px;
    }
}
