@import url("/public/index.css");

/* Menu du profil */
div.menu_profil {
    width: 150px;
    position: absolute;
    top: 50px;
    right: 10px;
    border-radius: 5px;
    box-shadow: 0 0 20px var(--color-black);
    background-color: var(--color-white);
    z-index: 9999;
}

div.menu_profil > hr {
    width: 80%;
}

/* Informations de l'utilisateur */
div.profileMenu_user {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 70px;
}

div.profileMenu_user > img {
    width: 55px;
    height: 55px;
    margin: 5px;
    background-color: #E43719;
}

div.profileMenu_infos {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
}

div.profileMenu_infos > p:first-child {
    margin-bottom: -8px;
}

div.profileMenu_infos > p:nth-child(2) {
    margin-bottom: -7px;
}

div.profileMenu_infos > p {
    margin: 0;
    font-family: 'Palanquin Dark', sans-serif;
    font-weight: 400;
    font-size: 11px;
}

div.profileMenu_infos > p > a {
    color: var(--color-light-grey-9);
    text-decoration: underline;
}

/* Liens du profil */
div.profileMenu_links {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90px;
}

div.profileMenu_links > a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100% / 3);
}

div.profileMenu_links > a > :first-child {
    font-size: 10px;
    color: var(--color-dark-grey);
}

div.profileMenu_links > a > p {
    margin: 0 0 0 10px;
    font-family: 'Palanquin Dark', sans-serif;
    font-weight: 400;
    font-size: 10px;
    color: var(--color-dark-grey);
}

/* Lien de connexion */
div.profile_disc {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30px;
    margin-bottom: 10px;
}

div.profile_disc > a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

div.profile_disc > a > :first-child {
    font-size: 10px;
    color: var(--color-dark-grey);
}

div.profile_disc > a > p {
    margin: 0 0 0 10px;
    font-family: 'Palanquin Dark', sans-serif;
    font-weight: 400;
    font-size: 10px;
    color: var(--color-dark-grey);
}

/* Media queries - Tablet */
@media (min-width: 426px) and (max-width: 768px) {
    /* Aucun changement */
}

/* Media queries - Laptop */
@media (min-width: 769px) and (max-width: 1024px) {
    /* Menu du profil */
    div.menu_profil {
        width: 170px;
        top: 60px;
    }

    /* Informations de l'utilisateur */
    div.profileMenu_user {
        height: 80px;
    }

    div.profileMenu_user > img {
        width: 58px;
        height: 58px;
    }

    div.profileMenu_infos > p {
        font-size: 13px;
    }

    /* Liens du profil */
    div.profileMenu_links {
        height: 90px;
    }

    div.profileMenu_links > a > :first-child {
        font-size: 12px;
    }

    div.profileMenu_links > a > p {
        margin: 0 0 0 10px;
        font-size: 12px;
    }

    /* Lien de connexion */
    div.profile_disc {
        height: 30px;
        margin-bottom: 10px;
    }

    div.profile_disc > a > :first-child {
        font-size: 12px;
    }

    div.profile_disc > a > p {
        margin: 0 0 0 10px;
        font-size: 12px;
    }
}

/* Media queries - Laptop L */
@media (min-width: 1025px) {
    /* Menu du profil */
    div.menu_profil {
        width: 180px;
        top: 60px;
    }

    /* Informations de l'utilisateur */
    div.profileMenu_user {
        height: 80px;
    }

    div.profileMenu_user > img {
        width: 60px;
        height: 60px;
    }

    div.profileMenu_infos > p {
        font-size: 14px;
    }

    div.profileMenu_infos > p:first-child {
        margin-bottom: -10px;
    }

    /* Liens du profil */
    div.profileMenu_links {
        height: 90px;
    }

    div.profileMenu_links > a > :first-child {
        font-size: 13px;
    }

    div.profileMenu_links > a > p {
        margin: 0 0 0 10px;
        font-size: 13px;
    }

    /* Lien de connexion */
    div.profile_disc {
        height: 30px;
        margin-bottom: 10px;
    }

    div.profile_disc > a > :first-child {
        font-size: 13px;
    }

    div.profile_disc > a > p {
        margin: 0 0 0 10px;
        font-size: 13px;
    }
}
