@import url("/public/index.css");

/* Chargement */
div.loading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    width: 100%;
}

div.loading > :first-child {
    font-size: 30px;
}

div.loading > p {
    margin: 5px 0;
    font-family: 'Palanquin Dark', sans-serif;
    font-weight: 400;
    font-size: 12px;
}
