@import url("public/index.css");

/* Offres */
div.offres {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-light-grey-E);
}

/* Titre */
div.offres_title {
    width: 80%;
    text-align: start;
}

div.offres_title > h1 {
    margin: 5px 0;
    font-family: 'Palanquin Dark', sans-serif;
    font-weight: 400;
    font-size: 25px;
}

div.offres > div.offre {
    margin-bottom: 20px;
}

/* Nombre d'offres affichées */
div.offres_number {
    width: 80%;
    text-align: start;
}

div.offres_number > p {
    margin: 0 0 20px 0;
    font-family: 'Palanquin Dark', sans-serif;
    font-weight: 400;
    font-size: 11px;
}

/* Media queries - Tablet */
@media (min-width: 426px) and (max-width: 768px) {
    /* Titre */
    div.offres_title > h1 {
        font-size: 28px;
    }

    /* Nombre d'offres affichées */
    div.offres_number > p {
        font-size: 13px;
    }
}

/* Media queries - Laptop */
@media (min-width: 769px) and (max-width: 1024px) {
    /* Titre */
    div.offres_title > h1 {
        font-size: 31px;
    }

    /* Nombre d'offres affichées */
    div.offres_number > p {
        font-size: 15px;
    }
}

/* Media queries - Laptop L */
@media (min-width: 1025px) {
    /* Titre */
    div.offres_title > h1 {
        font-size: 33px;
    }

    /* Nombre d'offres affichées */
    div.offres_number > p {
        font-size: 17px;
    }
}
